---
# Default home page with boxes providing collection stats
layout: page-full-width
---
<style>
        .honeycomb-container {
            min-height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
       
        .title-text {
            font-size: 4rem;
            font-weight: 300;
            color: #DAA520;
            letter-spacing: 0.1em;
        }
        svg {
            width: 100%;
            height: auto;
            max-height: 350px;
        }
    </style>

<div class="row align-items-center mt-0">
            <!-- Left Honeycomb Pattern -->
            <div class="col-md-4">
                <div class="honeycomb-container">
                    <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <polygon id="hexagon-left" points="25,0 75,0 100,43 75,86 25,86 0,43" fill="#c0c0c0"/>
                        </defs>
                        
                        <!-- Left side honeycomb pattern -->
                        <g id="left-pattern">
                            <!-- Row 1: 1 hexagon -->
                            <use href="#hexagon-left" x="20" y="155" opacity="0.5"/>
                            
                            <!-- Row 2: 2 hexagons -->
                            <use href="#hexagon-left" x="99" y="110" opacity="0.4"/>
                            <use href="#hexagon-left" x="99" y="200" opacity="0.6"/>
                            
                            <!-- Row 3: 2 hexagons -->
                            <use href="#hexagon-left" x="178" y="155" opacity="0.7"/>
                            <use href="#hexagon-left" x="178" y="245" opacity="0.3"/>
                            
                            <!-- Row 4: 2 hexagons -->
                            <use href="#hexagon-left" x="257" y="110" opacity="0.6"/>
                            <use href="#hexagon-left" x="257" y="200" opacity="0.4"/>
                        </g>
                    </svg>
                </div>
            </div>
            
            <!-- Center Title -->
            <div class="col-md-4">
                <div class="title-section">
                    <h1 class="title-text">
                        OPEN<br>
                        INVITATION
                    </h1>
                </div>
            </div>
            
            <!-- Right Honeycomb Pattern -->
            <div class="col-md-4">
                <div class="honeycomb-container">
                    <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <polygon id="hexagon-right" points="25,0 75,0 100,43 75,86 25,86 0,43" fill="#c0c0c0"/>
                        </defs>
                        
                        <!-- Right side honeycomb pattern -->
                        <g id="right-pattern">
                            <!-- Row 1: 2 hexagons -->
                            <use href="#hexagon-right" x="23" y="110" opacity="0.4"/>
                            <use href="#hexagon-right" x="23" y="200" opacity="0.6"/>
                            
                            <!-- Row 2: 2 hexagons -->
                            <use href="#hexagon-right" x="102" y="155" opacity="0.7"/>
                            <use href="#hexagon-right" x="102" y="245" opacity="0.3"/>
                            
                            <!-- Row 3: 2 hexagons -->
                            <use href="#hexagon-right" x="181" y="110" opacity="0.6"/>
                            <use href="#hexagon-right" x="181" y="200" opacity="0.4"/>
                            
                            <!-- Row 4: 1 hexagon -->
                            <use href="#hexagon-right" x="260" y="155" opacity="0.5"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

<div class="row">
  <div class="col-md-8 offset-md-2 my-2">

    <p class="h4">
     {{ content }}
    </p>

    <div class="my-4">
      {% include feature/subscribe-badges.html %}
    </div>

    <div class="my-4">
      {% include feature/latest-episode.html %}
    </div>

  </div>
</div>


<div class="row align-items-center mt-2 ">
            <!-- Left Honeycomb Pattern -->
            <div class="col-md-4 offset-md-2">
                <div class="honeycomb-container">
                    {% include feature/image.html objectid="objects/studio-chair-transparent.png"%}
                </div>
            </div>
            
            <!-- Center Title -->
        
            
            <!-- Right Honeycomb Pattern -->
            <div class="col-md-4">
                <div class="honeycomb-container">
                     {% include feature/image.html objectid="objects/studio-chair-transparent-flipped.png"%}
                </div>
            </div>
        </div>

<div class="row mt-5">
  <div class="col-md-6">  

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

  </div>
      <div class="col-md-6">  
    {% include index/content.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>