---
# Default home page with boxes providing collection stats
layout: page-full-width
---
<style>
        .honeycomb-container {
            min-height: 350px;
            display: flex;
            align-items: center;
        }
       
        .title-text {
            font-size: 4rem;
            font-weight: 300;
            color: #DAA520;
            letter-spacing: 0.1em;
        }
        svg {
            width: 100%;
            height: auto;
            max-height: 350px;
        }
    </style>

<div class="row align-items-center mt-0">
            <!-- Left Honeycomb Pattern -->
            <div class="col-md-4">
                <div class="honeycomb-container">
                    <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <polygon id="hexagon-left" points="25,0 75,0 100,43 75,86 25,86 0,43" fill="#c0c0c0"/>
                        </defs>
                        
                        <!-- Left side honeycomb pattern -->
                        <g id="left-pattern">
                            <!-- Row 1: 1 hexagon -->
                            <use href="#hexagon-left" x="20" y="155" opacity="0.5"/>
                            
                            <!-- Row 2: 2 hexagons -->
                            <use href="#hexagon-left" x="99" y="110" opacity="0.4"/>
                            <use href="#hexagon-left" x="99" y="200" opacity="0.6"/>
                            
                            <!-- Row 3: 2 hexagons -->
                            <use href="#hexagon-left" x="178" y="155" opacity="0.7"/>
                            <use href="#hexagon-left" x="178" y="245" opacity="0.3"/>
                            
                            <!-- Row 4: 2 hexagons -->
                            <use href="#hexagon-left" x="257" y="110" opacity="0.6"/>
                            <use href="#hexagon-left" x="257" y="200" opacity="0.4"/>
                        </g>
                    </svg>
                </div>
            </div>
            
            <!-- Center Title -->
            <div class="col-md-4">
                <div class="title-section">
                    <h1 class="title-text">
                        OPEN<br>
                        INVITATION
                    </h1>
                </div>
            </div>
            
            <!-- Right Honeycomb Pattern -->
            <div class="col-md-4">
                <div class="honeycomb-container">
                    <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <polygon id="hexagon-right" points="25,0 75,0 100,43 75,86 25,86 0,43" fill="#c0c0c0"/>
                        </defs>
                        
                        <!-- Right side honeycomb pattern -->
                        <g id="right-pattern">
                            <!-- Row 1: 2 hexagons -->
                            <use href="#hexagon-right" x="23" y="110" opacity="0.4"/>
                            <use href="#hexagon-right" x="23" y="200" opacity="0.6"/>
                            
                            <!-- Row 2: 2 hexagons -->
                            <use href="#hexagon-right" x="102" y="155" opacity="0.7"/>
                            <use href="#hexagon-right" x="102" y="245" opacity="0.3"/>
                            
                            <!-- Row 3: 2 hexagons -->
                            <use href="#hexagon-right" x="181" y="110" opacity="0.6"/>
                            <use href="#hexagon-right" x="181" y="200" opacity="0.4"/>
                            
                            <!-- Row 4: 1 hexagon -->
                            <use href="#hexagon-right" x="260" y="155" opacity="0.5"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

<div class="row">
{% capture spotify-button%}<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16"> <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288"/> </svg> Spotify{% endcapture%}
  <div class="col-md-8 offset-md-2 ">

    <p class="h4">
      Morbi fringilla erat ac mauris mattis scelerisque. Mauris nulla ante, eleifend non ultricies et, interdum at arcu. Quisque pellentesque viverra tortor, quis sodales ligula rhoncus sed. Donec rutrum, nisl et volutpat placerat, erat leo cursus velit, at pellentesque sapien felis eu odio. Donec eu hendrerit elit. 
    </p>
    <p class="h4">
      <b>Listen and Subscribe on</b> {% include feature/button.html text=spotify-button link="https://example.com" color="primary" %}
    </p>
    
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-6">  

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

  </div>
      <div class="col-md-6">  
    {% include index/content.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>